.content{
    max-width: 1600px;
    margin: 0 auto;
}
.logo{
    width: 110px;
}
header{
    display: grid;
    background-color: #08A59E;
    grid-template-columns: 75px auto; 
}
main 
section{
    text-align: center;
}
nav a{
    text-align: center;
    text-decoration: none;
    color: #E4F0EF;
    padding: 35px;
}
nav a:hover{
    background-color: #E4F0EF;
    color: #14CCC9; 
}
nav{
    display:flex;
    justify-content: space-around;
}
#nail{
    display: grid;
    grid-template-columns:   1fr;
    margin-top: -100px;
    justify-self: center;
    text-align: center;
}
#nail-box{
    grid-column: 1;
    z-index: -1;
    width: 100%;  
}
#nail-img{
    width: 100%;
}
#nail-msg h1,
#nail-msg h4 {
    text-align: center;
    color: #14CCC9;
}

.home-title {
    font-family: 'Lobster Two','Papyrus', sans-serif;
    font-size: 2em;
    margin-top: -24cm; 
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.manicure-card ,
.gelish-card{
    margin: 100px 0;
}
.manicure-card{
    grid-column-start: 1;
        
}
.gelish-card{
    grid-column-end: 4;
    
}
.mountains{

    width: 100%;
    grid-column: 1/5;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .5;
    transform: scale(.9);
}
.card-img {
    border: 15px solid #08A59E; 
    transition: transform .5s;
    box-shadow: 5px 5px 10px #0e3039;
    width: 150%;
    margin-top: 50px;
}

footer{
    background-color: #08A59E;
    color: white;  
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p{
    color: white;  
    font-family: 'Lobster Two','Papyrus', sans-serif;
    font-size: 2em; 
    padding-bottom: 15px;

}
h4{
  color:#14CCC9;  
  font-family: 'Lobster Two','Papyrus', sans-serif;
  font-size: 1.5em; 
  padding-bottom: 15px;
}
h3{
  color:#08A59E;  
  font-family: 'Lobster Two','Papyrus', sans-serif;
  font-size: 2.5em; 
  padding-bottom: 15px;
}
body{
    background-color: white;
    font-family: 'Lobster Two','Papyrus', sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    color: #14CCC9;
    text-align: center;
}
.msg{
    background-color: #08A59E;
    line-height: 2em;
    padding: 10px;
    grid-column: 1/4;
    box-shadow: 5px 5px 100px #303f07;
}
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #08A59E ;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
